*{
    font-size: 62.5%;
    margin: 0;
    box-sizing: border-box;
}
.nav{
    display: flex;
    height: 4rem;
    background-color: #9b16e9;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
}
.nav ul li{
    display: inline;
    list-style: none;
    padding: 1.2rem 1.2rem;
    font-size: 1.9rem;
    font-weight: bold;
    color: aliceblue;
}
#p1{
    font-size: 3.4rem;
    font-weight: bold;
}
#p2{
    font-size: 2rem;
    font-weight: bold;
}
#p3{
    font-size: 1.5rem;
    font-weight: bold;
}
.Profile{
    height: 13rem;
    width: 100vw;
    display: flex;
    height: 15rem;
    background-color:hsl(208, 90%, 89%);
    backface-visibility: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.Discp{
    display: flex;
    flex-direction: column;
    margin: 3rem;
}
.cont{
    font-size: 4.5rem;
    font-weight: 700;
    position: relative;
    left: 12rem;
    animation:all 6s linear 3s infinite;
}
@keyframes all{
   0%,100% {
    color: hsl(208, 90%, 89%);
   }
   50% {
     color: rgb(7, 7, 7);
   }
}
.imgp img{
    width: 10rem;
    height: 10rem;
    margin: 3rem;
    position: relative;
    left: 3rem;
    border-radius: 50%;
}

.Education{
    font-size: 2.9rem;
    width: 100vw;
    height: 40rem;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-content: center;
    justify-content: center;
    background-color: rgb(210, 230, 248);
}
.tenth{
    background-color:#9b16e9;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    display: flex;
    height: 34rem;
    width: 50rem;
    flex-direction: column;
    box-shadow: inset 6rem 6rem 6rem rgb(156, 8, 214),inset -6rem -6rem 6rem rgb(112, 6, 173);
}
.but10{
    display: flex;
    justify-content: end;
    height: 8rem;
    align-items:last baseline;
}
.but10 button{
    /* margin: 3rem; */
    position: relative;
    right: 4rem;
    width: 13rem;
    height: 4rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color: rgb(112, 6, 173)  ;
    border: 2px solid #fff;
    border-radius: 2rem;
    display: block;
    background: linear-gradient(to right,rgb(219, 218, 218) 50%,rgb(142, 18, 214) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.but10 button:hover{
    background-position: left bottom;
    color: #000;
    border: none;
 }
.info10 p{
font-size: 1.4rem;
padding: 0.7rem;
font-weight: bold;
color: aliceblue;
}

.twelveth{
    background-color:#9b16e9;
    border-radius: 2rem;
    padding: 2rem;
    margin: 2rem;
    height: 34rem;
    width: 50rem;
    display: flex;
    flex-direction: column;
    box-shadow: inset 6rem 6rem 6rem rgb(156, 8, 214),inset -6rem -6rem 6rem rgb(112, 6, 173);
}
.but12{
    display: flex;
    justify-content: end;
}
.but12 button{
    margin: 3rem;
    width: 13rem;
    height: 4rem;
    color: #fff;
    position: relative;
    bottom: 1.7rem;
    font-size: 1.4rem;
    font-weight: bolder;
    background-color:rgb(112, 6, 173) ;
    border: 2px solid #fff;
    border-radius: 2rem;
    display: block;
    background: linear-gradient(to right,rgb(219, 218, 218) 50%,rgb(142, 18, 214) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: all .5s ease-out;
}
.but12 button:hover{
   background-position: left bottom;
   color: #000;
   border: none;
}
.info12 p{
font-size: 1.4rem;
padding: 0.7rem;
font-weight: bold;
color: aliceblue;
}

.infoeg {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.infoeg p{
font-size: 2rem;
margin: 1.6rem;
font-weight: bold;
}
.engg{
    display: flex;
    flex-direction: column;
    height: 52rem;
    width: 100vw;
    align-items: center;
    background-color: rgb(210, 230, 248);
}
.infoeg{
    width: 70rem;
    height: 20rem;
    padding: 1rem 1rem;
    background-color:#9b16e9;
    border-radius: 2rem;
    box-shadow: inset 6rem 6rem 6rem rgb(156, 8, 214),inset -6rem -6rem 6rem rgb(112, 6, 173);
}
.infoeg p{
    font-size: 1.7rem;
    font-weight: bold;
    color: aliceblue;
    margin: .8rem;
}
.skill{
    margin: 3rem;
    padding: 1rem 1rem;
    width: 70rem;
    height: 20rem;
    background-color:#9b16e9;
    border-radius: 2rem;
    box-shadow: inset 6rem 6rem 6rem rgb(156, 8, 214),inset -6rem -6rem 6rem rgb(112, 6, 173);
    display: flex;
    flex-direction: column;
}
.skill p{
    font-size: 1.5rem;
    font-weight: bold;
    color: aliceblue;
    margin: .8rem;
    text-align: center;
}
@media(max-width:950px){
    html{
        font-size: 50%;
    }
}
@media(max-width:630px){
    html{
        font-size: 25%;
    }
    .cont{
        font-size: 3.9rem;
        font-weight: 700;
        position: relative;
        left: 6rem;
    }
    .Education{
        font-size: 2.9rem;
        width: 100vw;
        height: 85rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        background-color: rgb(210, 230, 248);
    }
    .tenth{
        height: 36vh;
        width: 70vw;
    }
    .tenth button{
        width: 19rem;
    }
    .twelveth{
        height: 34vh;
        width: 70vw;
    }
    .twelveth button{
        width: 19rem;
    }
    .infoeg{
        width: 70vw;
        height: 30vh;
        padding: 2rem;
    }
    .infoeg p{
        font-size: 1.4rem;
    }
    .skill{
        width: 70vw;
        height: 30vh;
        padding: 2rem;
    }
    .engg{
        height: 70rem;
    }
}
.feed{
    display: flex;
    height: 60rem;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    background-color: aliceblue;
}
.feed h1{
    font-size: 2.9rem;
    margin: 3rem;
}
.feed label{
  margin: 0.4rem;
  font-size: 1.8rem;
}
.feed input{
    margin: 0.6rem;
    width: 40rem;
    height: 2.5rem;
    font-size: 1.4rem;
    box-shadow: 1rem 1rem 2rem rgb(128, 117, 131);
    border: none;
    border-radius: 2rem;
    text-align: center;
  }
  .feed textarea{
    margin: 0.6rem;
    width: 40rem;
    height: 6.5rem;
    font-size: 1.4rem;
    box-shadow: 1rem 1rem 2rem rgb(128, 117, 131);
    border: none;
  }
  .feed button{
    margin: 2rem;
    width: 8%;
    height: 6.5%;
    font-size: 1.5rem;
    background-color: #9b16e9;
    box-shadow: 1rem 1rem 2rem rgb(57, 18, 65);
    border: none;
    border-radius: 2rem;
  }
  .feed button:hover{
    background-color: #530381;
    color: #fff;
  }
  .conc{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 20rem;
    justify-content: center;
    align-items: center;
    font-size: 2.9rem;
    background-color: aliceblue;
  }
  .conc p{
    width: 50%;
    font-weight: bolder;
  }
  .logo{
    display: flex;
    margin: 5rem;

  }
  .logo img{
    width: 4.9rem;
    height: 4.9rem;
    margin: 3rem;
  }